@charset "UTF-8";
			#video{
            	position:absolute;
            	 width: 80%;
                height: 80%;
            	top:0px;
    			left:0px;
                z-index:-1;/*顯示層級 video 為最低*/
            }
            div.video{display:flex; justify-content:center; align-items:center;vertical-align: bottom;}/*影片video 置中*/
            .buttonbar{
            	position:absolute;  /*顯示位置方式 absolute:絕對位置(重疊物件用) relative:相對位置 */  
            	/* vertical-align: bottom;  垂直方向的對齊方式*/
            	/*align:"center";水平置中 */
            	/*valign:"center";水平置中 */
    			width:350px;
    			height: 60px;
    			left:10%;/*位置靠左*/
    			top:40%;/*位置高度*/
            	z-index:1; /*顯示層級*/
            	
            }
            /* 圓形按鈕 http://www.w3bai.com/zh-TW/css/css3_buttons.html */
            button{
            	width: 60px;
    			height: 60px;
    			display: inline;
    			marage:0 30px 0 30px;/*上 右 下 左*/
    			background:#336CFC;
    			color:#ffffff;
    			border-radius: 100%; /*使用border-radius屬性來圓角添加到一個按鈕*/
            }
            
            button:focus{
			  background:#33FFFC;
			  transform:scale(1.5);/*物件放大*/
			  color:#222222;
			}
         
           /*  .video-skin{
            	
            	vertical-align: bottom;
            	background:#0100FF;
            	bottom:5px;
    			left:5px;
    			width: 150px;
    			height: 50px;
            	z-index:2;
            } */